//Dit is mijn eigen css bestand

.logo{
  font-size: 1.3rem !important;
}
.social_icon{
  background: #999999;
  width: 30px;
  line-height: 30px !important;
}
.fa-chevron-circle-left{
  position: absolute;
  bottom: 10%;
  left: 40%;
}
.fa-chevron-circle-right{
  position: absolute;
  bottom: 10%;
  left: 60%;
}
.mynav{
  width: 100vh;
}

@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {
  .carousel-caption{
    top : 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
  }

}
@include media-breakpoint-up(lg) {  }

@include media-breakpoint-up(xl) {  }